.App-container {
  font-family: sans-serif;
  }
  
  header {
    display: flex; /* Enables flexbox for layout */
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Vertically aligns items */
    padding: 10px 20px; /* Add some padding around the header */
    /* Add other header styles like background color, etc. */
    background-color: #F5F5DC; /* Example background color */
  }
  
  .Title {
    font-weight: bold;
    font-size: 20px;
  }

  .span-class{
    color:#4CAF50;
  }
  
  .feature-container {
    display: flex; /* Enables flexbox for the features */
    justify-content: space-between; /* Distributes space between items */
    gap: 20px; /* Adds space between the feature items */
  }
  

  .feature-item a{
    color:white;
    text-decoration: none;
    padding: 10px 15px;
    /* border: 1px solid blue; */
    border-radius: 5px;
    background-color: #4CAF50;
  }