<section style="overflow: hidden; height: 100vh; margin: 0; padding: 0;">
  <div class="App-container">
    <header>
      <div class="Title">
        <p><span class="span-class">A</span>ero<span class="span-class">P</span>ulse</p>
      </div>
      <div class="Feature-container">
        <div class="feature-container">
          <div class="feature-item">
            <!-- <a href="/feature1" id ="/feature1">Feature-1</a> -->
            <a routerLink="/feature1">Weather Check</a>
          </div>
          <div class="feature-item">
            <!-- <a href="/feature2">Feature-2</a> -->
            <a routerLink="/feature2">Air-pollutoin check</a>
          </div>
        </div>
      </div>
    </header>
  </div>


  <!-- <app-inputcomponent></app-inputcomponent> -->
  <router-outlet></router-outlet>
  
</section>
