<section>
  <div class="App-container">
    <header>
      <div class="Title">
        <p>My App</p>
      </div>
      <div class="Feature-container">
        <div class="feature-container">
          <div class="feature-item">
            <!-- <a href="/feature1" id ="/feature1">Feature-1</a> -->
            <a routerLink="/feature1">Feature-1</a>
          </div>
          <div class="feature-item">
            <!-- <a href="/feature2">Feature-2</a> -->
            <a routerLink="/feature2">Feature-2</a>
          </div>
        </div>
      </div>
    </header>
  </div>


  <!-- <app-inputcomponent></app-inputcomponent> -->
  <router-outlet></router-outlet>
  
</section>
